NEXT_PUBLIC_SUPABASE_URL=https://bbitonbbdirpbdiniwpo.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=pon_aqui_tu_publishable_key
SUPABASE_SERVICE_ROLE_KEY=pon_aqui_tu_service_role_key
ADMIN_PASSWORD=pon_aqui_una_contraseña_para_la_tienda
